appnope 
backcall==0.2.0
beautifulsoup4 
brotlipy==0.7.0
certifi==2020.12.5
cffi 
cryptography 
cycler==0.10.0
decorator==4.4.2
idna 
ipykernel 
ipython 
ipython-genutils==0.2.0
jedi 
joblib 
jupyter-client 
jupyter-core==4.6.3
kiwisolver==1.2.0
lxml 
matplotlib 
numpy 
olefile==0.46
pandas 
parso==0.7.0
pexpect 
pickleshare 
Pillow 
prompt-toolkit 
ptyprocess==0.6.0
pycparser 
Pygments 
pyOpenSSL 
pyparsing==2.4.7
PySocks 
python-dateutil==2.8.1
pytz 
pyzmq==19.0.2
scikit-learn 
scipy 
seaborn 
selenium 
six==1.15.0
soupsieve==2.0.1
threadpoolctl 
tornado==6.0.4
traitlets 
urllib3 
wcwidth 
